importFrom("stats","cor","t.test")
import("FLCore")
exportClasses("pay", 
	"rpay", 
	"nay",
	"spay", 
	"logcc", 
	"z", 
	"logr", 
	"FLCohort", 
	"bmass")
exportMethods("bmass", 
	"FLCohort", 
	"flc2flq", 
	"trim", 
	"quant", 
	"units", 
	"as.data.frame", 
	"plot", 
	"[", 
	"bubbles", 
	"ccplot", 
	"cor", 
	"mv0", 
	"mcf", 
	"splom", 
	"logcc", 
	"logr", 
	"pay", 
	"rpay",
	"nay",
	"spay", 
	"bubbles", 
	"z", 
	"summary",
	"t.test")

